<!DOCTYPE html>
<html ng-app="shopApp">
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="script/menu.js"></script>
	</head>

	<body>
		<div ng-include src="'head.html'"></div>


		<article>
			<div class="row" ng-controller="ShopController">
			  <div class="col-sm-6 col-md-4"  ng-repeat="article in articles">
			    <div class="thumbnail">
			      <img src="images/{{article.name}}.jpg" alt="{{article.name}}">
			      <div class="caption">
			        <h2>{{article.name}} <small> {{article.price}}€</small></h2>
			        <p>{{article.description}}</p>
			        <p><a href="#" class="btn btn-default" role="button" ng-click="addToCart($index)">Ajouter au panier</a></p>
			      </div>
			    </div>
			  </div>
			</div>
		</article>


</body>
</html>
