<!DOCTYPE html>
<html ng-app="shopApp">
	<head>
		<meta charset="UTF-8">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="script/menu.js"></script>
		<link href="css/style.css" rel="stylesheet" media="screen">
		<title>Shop</title>
	</head>

<body>
	<div class="page-header">
  		<h1>Boutique2Ouf<small>lalala</small></h1>
	</div>
	
	<ul class="nav nav-tabs" >
		<li role="presentation" class="dropdown index">
  			<a class="dropdown-toggle" data-toggle="dropdown" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">
      			Accueil
    		</a>
  		</li>
	
	
		<li role="presentation" class="dropdown type" ng-controller="MenuController">
    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ng-click="showType()">
      			Articles <span class="caret"></span>
    		</a>
    		<ul class="" ng-repeat="type in types" ng-show="typeActif">
    			<a href="article.html?type={{type.name}}"><li role="presentation" class="dropdown">{{type.name}}</li></a>
    		</ul>	
  		</li>
  		
  		
  		<li role="presentation" class="dropdown cart" ng-controller="ShopController">
  			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ng-click="showCart()">
      			Pannier
    		</a>
    		<div class="cartDesc" ng-show="cartActif">
	    		<ul class="" ng-repeat="article in cart">
	    			<li><h5>{{article.name}}<small class="price"> {{article.price}}€</small></h5></li>
	    		</ul>
	    		<hr>
				<ul>
	    			<li><h5>Total : <small class="price">{{ getTotal() }}€</small></h5></li>
	    			<li><a href="#" class="btn btn-default" role="button">Valider panier</a></li>
	    		</ul>
    		</div>
    		
  		</li>	
	</ul>
