<!DOCTYPE html>
<html ng-app="shopApp">
	<head>
		<meta charset="UTF-8">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="angular-soap/soapclient.js"></script>
		<script src="angular-soap/angular.soap.js"></script>
		<script src="script/app.js"></script>
		<link href="css/style.css" rel="stylesheet" media="screen">
		<title>Boutique</title>
	</head>

	<body ng-controller="ShopController">
	

		<!-- Header -->
		<div class="page-header">
	  		<h1>Boutique de <small>{{typeArticle}}s</small></h1>
	  		
	  		<nav class="navbar navbar-default connection">
	  			<div ng-if="currentUser" id="welcolme">Bienvenue {{currentUser.firstname}} {{ currentUser.name }}</div>
	  			<div id = "change">
					<form>
						<select name="money" ng-model="money" ng-change="convert(money)">
							<option value="EUR">EUR</option>
							<option value="USD">USD</option>
						</select>
					</form>
	  			</div>

	  			<div class="container-fluid" id="signin">
			  		<form method="post"  class="navbar-form navbar-right" role="form" ng-submit="login(clientEmail, clientPassword)" ng-hide="{{currentUser}}" >
			        	<div class="input-group">
			            	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			                <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email" ng-model="clientEmail">                                        
			            </div>
						<div class="input-group">
			            	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			                <input id="password" type="password" class="form-control" name="password" value="" placeholder="Mot de passe" ng-model="clientPassword">                                        
			            </div>
						<button type="submit" class="btn btn-primary">Connexion</button>
					</form>	
					<button type="submit" class="btn btn-primary" ng-click="showLogup()">Inscription</button>
				</div>
			</nav>	
		</div>
	
	
	
	
	
		<!-- Menu bar -->
		<ul class="nav nav-tabs" data-ng-controller="MenuController">
		
		<!-- TYPE ARTICLE -->
			<li role="presentation" class="dropdown type" >
	    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ng-click="showType()">
	      			Articles <span class="caret"></span>
	    		</a>
	    		<div class="typeDesc" ng-show="typeActif">
	    			<ul ng-repeat="type in types">
		    			<a href="#"><li role="presentation" class="dropdown"  ng-click="changeType($index)">{{type.name}}</li></a>
		    		</ul>	
	    		</div>
	  		</li>
	  		
	  		
	  		<!-- ADMIN -->
	  		<li role="presentation" class="dropdown admin" ng-show="admin">
	    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ng-click="showAdmin()">
	      			Admin <span class="caret"></span>
	    		</a>
	    		<div class="typeDesc" ng-show="adminActif" id="adminArticles">
	    			<!-- Liste des articles -->
					<article>
						<div class="row">
						  <div class="col-sm-6 col-md-4"  ng-repeat="article in supplier">
						    <div class="thumbnail">
						      <div class="caption">
						        <h2>{{article.name}} <small> {{article.price}}{{signeMoney}}</small></h2>
						        <p><a href="#" class="btn btn-default" role="button" ng-click="buySupplier($index)">Acheter au fournisseur</a></p>
						      </div>
						    </div>
						  </div>
						</div>
					</article>
	    		</div>
	  		</li>
	
	
			<!-- PANIER -->
	  		<li role="presentation" class="dropdown cart" >
	  			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ng-click="showCart()">
	      			Panier <span class="caret"></span>
	    		</a>
	    		<div class="cartDesc" ng-show="cartActif">
		    		<ul ng-repeat="article in cart">
		    			<li id="cartArticle"><h5>{{article.name}}<small class="price"> {{article.price}}{{signeMoney}}</small></h5><a href="#" id="removeToCart" ng-click="removeToCart($index)"></a></li>
		    		</ul>
		    		<hr>
					<ul>
		    			<li><h5>Total : <small class="price">{{total}}{{signeMoney}}</small></h5></li>
		    			<li>
		    				<a href="#" class="btn btn-default" role="button" ng-click="showCreditCard()">Acheter</a>
		    				<a href="#" class="btn btn-default" role="button" ng-click="clearCart()">Vider panier</a>
		    			</li>
		    			
		    			
		    			<!-- Form creditCard -->
						<div class="container-fluid" id=creditCard ng-show="creditCardActif">
							<form method="post"  class="navbar-form navbar-right" role="form" ng-submit="buy(cardNumber, expDate)">
							    <div class="input-group">
							       	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							        <input type="text" class="form-control" name="cardNumber" value="" placeholder="Numero de carte bleue" ng-model="cardNumber">                                        
							    </div>
							    <div class="input-group">
							       	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							        <input type="text" class="form-control" name="expDate" value="" placeholder="Date d'expiration MMAA" ng-model="expDate">                                        
							    </div>
								<button type="submit" class="btn btn-primary">Valider</button>
							</form>	
							<button type="submit" class="btn btn-primary" ng-click="showCreditCard()">Continuer mes achats</button>
						</div>
		    		</ul>
	    		</div>	
	  		</li>
	  	</ul>	
	
	
	
	
		<!-- Liste des articles -->
		<article>
			<div class="row">
			  <div class="col-sm-6 col-md-4"  ng-repeat="article in articles">
			    <div class="thumbnail">
			      <img src="img/photo-manquante.png" alt="{{article.name}}" width="20%" height="20%">
			      <div class="caption">
			        <h2>{{article.name}} <small> {{article.price}}{{signeMoney}}</small></h2>
			        <p>{{article.description}}<small> ({{article.available}})</small></p>
			        <p><a href="#" class="btn btn-default" role="button" ng-click="addToCart($index)">Ajouter au panier</a></p>
			      </div>
			    </div>
			  </div>
			</div>
		</article>
		
		
		
		
		<!-- Logup form -->
		<div class="container-fluid" id="signup" ng-show="logupActif">
			<form method="post"  class="navbar-form navbar-right" role="form" ng-submit="logup(logupemail, loguppassword, logupfirstname, logupname, logupage)">
			  	<div class="input-group">
			       	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			       	<input id="logupemail" type="email" class="form-control" name="logupemail" value="" placeholder="Email" ng-model="logupemail">                                        
			    </div>
				<div class="input-group">
			       	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			        <input id="loguppassword" type="password" class="form-control" name="loguppassword" value="" placeholder="Mot de passe" ng-model="loguppassword">                                        
			    </div>
			    <div class="input-group">
			       	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			        <input id="logupfirstname" type="text" class="form-control" name="logupfirstname" value="" placeholder="Prenom" ng-model="logupfirstname">                                        
			    </div>
			    <div class="input-group">
			       	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			        <input id="logupname" type="text" class="form-control" name="logupname" value="" placeholder="Nom" ng-model="logupname">                                        
			    </div>
			    <div class="input-group">
			       	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			        <input id="logupage" type="text" class="form-control" name="logupage" value="" placeholder="Age" ng-model="logupage">                                        
			    </div>
				<button type="submit" class="btn btn-primary">Inscription</button>
			</form>	
		</div>
		
		
		
		
	</body>
</html>
