article{
	margin:5%;
}

li{
	list-style : none;
}
.page-header{
	margin-bottom:5%;
}

.connection{
	position:absolute;
	right:0;
	top:0;
	margin-right:2%;
}
.type{
	position:absolute;
	margin-left:2%;
}

.cart{
	right:0;
	margin-right:5%;
	position:absolute;
	width:20%;
	min-width:200px;
}

.cartDesc, .typeDesc{
	border: 1px solid gray;
	padding:10%;
	border-radius: 10px;
	background-color: white;
	}
	
.price{
	position:absolute;
	right:0;
	margin-right:10%;
	}